<div class="container">
    <div style="margin-top:20px">
        <h2><b>Title</b>: <%= @event.title %></h2>
        <h2><b>Description</b>: <%= @event.description %></h2>
        <h2><b>Location</b>: <%= @event.location %></h2>
        <h2><b>Plan</b>: <%= @event.plan %></h2>
        <h2><b>Date<b>: <%= @event.date %></h2>        
    <div>
</div>